<mat-toolbar class="mat-toolbar-single-row">
    <span>{{this.title}}</span>
  </mat-toolbar>



  <mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>


  
<table mat-table [dataSource]="dataSourceGoal" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  <!-- subject Column -->
  <ng-container matColumnDef="module">
      <th mat-header-cell *matHeaderCellDef> Modul </th>  
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- ziel Column -->
  <ng-container matColumnDef="averageDesiredMark">
      <th mat-header-cell *matHeaderCellDef>Ziel </th>
      <td mat-cell *matCellDef="let element"> {{element.averageDesiredMark}} </td>
  </ng-container>
  <ng-container matColumnDef="reached">
    <th mat-header-cell *matHeaderCellDef>Erreicht</th>
    <td mat-cell *matCellDef="let element">{{element.marks}}</td>
  </ng-container>
  <!-- benötigte Note Column -->
  <ng-container matColumnDef="needed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by needed">Benötigte Note</th>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button class="buttonNew" mat-raised-button (click)="openDialog()">Neues Ziel erfassen</button>