a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container{
    position: relative;
}

.wildspitz img{
    opacity: 0.3;
    width: 150px;
}


/* Container holding the image and the text */
.wildspitz {
    position: relative;
    text-align: center;
    color: white;
  }
  

.profil{   
    position:sticky;
    margin-top: 400px;
    margin-left: 108.5px;
    width:90px;
    height:90px;
    border-radius: 50%;
}

li{
    list-style-type: none;
}
h1{
    font-weight: bold;
    font-size:2rem;
    padding: 10px;
}
p{
    font-size: 15px;
    padding:4px;
}

.active{
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.activeProfile{
    img{
        border: solid 5px rgb(255, 255, 255);
    }
}

