a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.wildspitz img{
    opacity: 0.3;
    width: 60%;
    height: auto;
}


/* Container holding the image and the text */
.wildspitz {
    position: relative;
    text-align: center;
    color: white;
  }
  
.nav{
   margin-top: 10%;
 
}

.profil{   
   
    margin-top: 60%;
    margin-left:28%;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

li{
    margin-top: 7%;
    list-style-type: none;
    margin-left: 2%;
}
h1{
    font-weight: bold;
    font-size:2.2vw;
    padding: 1%;
}
p{
    font-size: 1vw;
    padding:4px;
}

.active{
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.activeProfile{
    img{
        border: solid 1px rgb(0, 0, 0);

    }
}

