<h1>GradeTracker</h1>
<br>
<li routerLinkActive="active">
    <a routerLink="/dashboard">
        <h3>Dashoard</h3>
    </a>
</li>
<mat-divider></mat-divider>
<li routerLinkActive="active">
    <a routerLink="/goaloverview">
        <h3>Zielübersicht</h3>
    </a>
</li>
<mat-divider></mat-divider>
<li routerLinkActive="active">
    <a routerLink="/gradeoverview">
        <h3>Notenübersicht</h3>
    </a>
</li>
<mat-divider></mat-divider>
<li routerLinkActive="active">
    <a routerLink="/subjectoverview">
        <h3>Fach/Modulübersicht</h3>
    </a>
</li>

<a routerLink="/profile">
    <img src="./assets/pic/profil.jpg" class="profil">
</a>