<div>
    <div class="wildspitz">
        <a routerLink="/dashboard">
            <img src="./assets/gradetracker.png">
            <h1>GradeTracker</h1>
        </a>
    </div>

    <div class="nav">
        <br>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                <p>Dashoard</p>
            </a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a routerLink="/goaloverview" routerLinkActive="active">
                <p>Zielübersicht</p>
            </a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a routerLink="/gradeoverview" routerLinkActive="active">
                <p>Notenübersicht</p>
            </a>
        </li>
        <mat-divider></mat-divider>
        <li>
            <a routerLink="/subjectoverview" routerLinkActive="active">
                <p>Fach/Modulübersicht</p>
            </a>
        </li>
        
    </div>

        <button (click)="logout()"> </button>
        <a routerLink="/profile" routerLinkActive="activeProfile">
            <img src="./assets/pic/profil.jpg" class="profil">
        </a>

</div>
