
<h2>Notenerfassung</h2>
    <mat-divider></mat-divider>
    <div mat-dialog-actions>
        <form [formGroup]="newMarkForm" (ngSubmit)="onSubmit()">
            <label for="name">Fach</label>
    
            <mat-select matNativeControl #module class="input-field" formControlName="moduleId" name="moduleId">
                <mat-option *ngFor="let module of modules" [value]="module.id" name="module">
                    {{module.name}}
                </mat-option>
            </mat-select>
    
            <br>
            <div>
                <label for="goal">Datum</label>
                <input type="date" max="6" min="1" formControlName="date" name="date" required>
            </div>
            <br>

            <br>
            <div>
                <label for="Bezeichnung">Bezeichnung</label>
                <input type="text" max="6" min="1" formControlName="description" name="description" required>
            </div>
            <br>
            <br>
            <div>
                <label for="mark">Note</label>
                <input type="number" max="6" min="1" formControlName="mark" name="mark" required>
            </div>
            <br>
            <div>
                <label for="weighting">Gewichtung</label>
                <input type="number" max="0" min="2" step="0.25" formControlName="weighting" name="weighing" required>
            </div>
            <br>
            <br>
            <button class="buttonCancel" [mat-dialog-close]="" cdkFocusInitial>Abbrechen</button>
            <button class="submit">Speichern</button>
        </form>
    
    
    </div>