<h2>Notenerfassung</h2>
<mat-divider></mat-divider>
<div mat-dialog-actions>
        <label for="date">Datum</label>
        <input type="date" id="date" name="date" value="2022-08-25" min="2018-01-01" max="2024-12-31">
        <br>
       <label for="bez">Bezeichnung</label>
       <input  id="bez" name="bez" class="input-field" type="text" >
       <br>
       <label for="fachtyp">Fachtyp</label>
        <select id="fachtyp" name="fachtyp" class="input-field">
            <option>BM</option>
            <option>EFZ</option>
        </select>
        <br>
        <label for="fach">Modul/Fach</label>
        <select id="fach" name="fach" class="input-field">
            <option>M117</option>
            <option>M200</option>
            <option>M300</option>
            <option>M400</option>
        </select>
        <br>
        <label for="gewichtung">Gewichtung</label>
        <input type="number" id="gewichtung" name="gewictung" min="0" max="2" step="0.5">
        <br>
        <label for="note">Note</label>
        <input type="number" id="note" name="note" min="1" max="6">
        <br>
        <button class="buttonSubmit" (click)="onNoClick()">Abbrechen</button>
        <button class="buttonCancel"  [mat-dialog-close]="" cdkFocusInitial>Speichern</button>
</div>
