<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Anmelden</h1>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <label>Benutzername</label>
                <input matInput type="username" formControlName="username">
            </mat-form-field>
            <br>
            <mat-form-field>
                <label>Passwort</label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <button type="submit" class="submit-button">Login</button>
        </form>
        </mat-card-content>
        

        <div class="linkToRegister">
            <a routerLink="/registration">Noch kein Konto?</a>
        </div>


    </mat-card>
</div>