<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Login</h1>
            </mat-card-title>
            <mat-card-subtitle>Loggen sie sich in ihren Grade-Tracker Account ein!</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm">
            <mat-form-field>
                <input matInput  class="input-field" type="username" placeholder="Username" formControlName="username"> <br> <br>
                <input matInput class="input-field" type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button type="submit" class="submit-button">Login</button>
        </form>
        </mat-card-content>
        

        <div class="linkToRegister">
            <a routerLink="/registration">Noch kein Konto?</a>
        </div>


    </mat-card>
</div>