<mat-toolbar class="mat-toolbar-single-row">
    <span>{{this.title}}</span>
</mat-toolbar>

<mat-form-field>
      <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
</mat-form-field>

        <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">

            <!-- subject Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell class="headerrow" *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by subject">
                    Subject
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="educationType">
                <mat-header-cell class="headerrow" *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by educationType">
                    Ausbildungstyp
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.competenceArea.educationType.name}} </mat-cell>
            </ng-container>

            <!-- kompetenzbereich Column -->
            <ng-container matColumnDef="competenceArea">
                <mat-header-cell class="headerrow" *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by kompetenzbereich">
                    Kompetenzbereich
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.competenceArea.name}} </mat-cell>
            </ng-container>

            <!-- teacher Column -->
            <ng-container matColumnDef="teacher">
                <mat-header-cell class="headerrow" *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by teacher">
                    Teacher
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.teacher.name}} </mat-cell>
            </ng-container>

            <!-- durchschnitt Column -->
            <ng-container matColumnDef="averageMark">
                <mat-header-cell class="headerrow" *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by durchschnitt">
                    Durchschnitt
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.averageMark}} </mat-cell>
            </ng-container>

            <!-- anzahlNoten Column -->
            <ng-container matColumnDef="marks">
                <mat-header-cell class="headerrow" *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by anzahlNoten">
                    Anzahl Noten
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.numberOfMarks}} </mat-cell>
            </ng-container>

            <!-- Favorit Column -->
            <ng-container matColumnDef="showOnDashboard">
                <mat-header-cell class="headerrow" *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by favorit">
                    Favorit
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.showOnDashboard}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

<button class="buttonNew" mat-raised-button (click)="openDialog()">Neues Fach/Modul erfassen</button>