.example-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 70%;
    
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    width: 100%;
  }

  mat-header-cell{
    font-weight: bold;
    font-size: 17px;
    color: black;
  }

  mat-cell{
    font-size: 15px;
    color: grey;
  }
  
  .title{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px;
}

