.example-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 70%;
    
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    width: 100%;
  }

  mat-header-cell{
    font-weight: bold;
    font-size: 17px;
    color: black;
  }

  mat-cell{
    font-size: 15px;
    color: grey;
  }
  
  .title{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
  float: left;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.erfassen{
  margin-top: 50px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}


.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom:1px solid #999;
  outline: none;
  background:transparent;
}

.favorit{
  margin:5px
}
