.sidenav{
    padding: 16px;
    width: 250px;
    height: 95.5%;
    display: inline-block;
    vertical-align: middle;
}
.content{
    height: 100%;
    width: 80%;
    margin-left: 5px;
    display: inline-block;
    vertical-align:top;

}
