.sidenav{
    padding: 16px;
    width: 20%;
    height: 96.3%;
    display: inline-block;
    vertical-align: middle;
    background-color: #4678b4;
}
.content{
    height: 100%;
    width: 77%;
    margin-left: 5px;
    display: inline-block;
    vertical-align:top;
}
