<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Registrieren</h1>
            </mat-card-title>
            <mat-card-subtitle>Erstellen sie einen Account für den Grade-Tracker!</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field>
                <input  class="input-field" type="text" placeholder="Username">
                <input  class="input-field" type="email" placeholder="Email"> 
                <input  class="input-field" type="password" placeholder="Password">
                <input  class="input-field" type="password" placeholder="Repeat Password">
                
                <select class="input-field">
                    <option name="EFZ" value="EFZ">EFZ</option>
                    <option name="EFZmitBM" value="EFZmitBM">EFZ mit BM</option>
                    <option name="IMS" value="IMS">IMS</option>
                </select>
                
                <!--<mat-select matNativeControl>
                    <mat-option *ngFor="let abschluss of abschluesse" [value]="abschluss.value">
                        {{abschluss.value}}
                    </mat-option>
                </mat-select>-->
            </mat-form-field>
        </mat-card-content>
        <button type="submit" class="submit-button">Registrieren</button>

        <div class="linkToLogin">
            <a routerLink="/login">Bereits registriert?</a>
        </div>


    </mat-card>
</div> 