<mat-toolbar class="mat-toolbar-single-row">
    <span>{{this.title}}</span>
  </mat-toolbar>

<div class="container">
    

       
            <img src="./assets/pic/profil.jpg" class="profil"> <br><br>
            <mat-form-field>
                <input class="input-field" type="text" value="Max Mustermann" [readonly]="isReadOnly">
                <input class="input-field" type="email" value="m.mustermann@gmail.com" [readonly]="isReadOnly">
                <input class="input-field" type="password" value="adsfadsf" [readonly]="isReadOnly">

                <select class="input-field" disabled>
                    <option selected>EFZ</option>
                    <option>IMS</option>
                    <option>EFZ mit BM</option>
                </select>

                <button click="edit()" id="bearbeiten-button" class="bearbeiten-button">Bearbeiten</button>
            </mat-form-field>

</div>
